<?php
/**
 * PricingBreaksApi
 * PHP version 5
 *
 * @category Class
 * @package  Spinen\ConnectWise\Clients\Procurement
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */

/**
 * Procurement API
 *
 * ConnectWise Procurement API
 *
 * OpenAPI spec version: 1.0.0
 * Contact: platform@connectwise.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 *
 */

/**
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen
 * Do not edit the class manually.
 */

namespace Spinen\ConnectWise\Clients\Procurement\Api;

use \Spinen\ConnectWise\Clients\Procurement\ApiClient;
use \Spinen\ConnectWise\Clients\Procurement\ApiException;
use \Spinen\ConnectWise\Clients\Procurement\Configuration;
use \Spinen\ConnectWise\Clients\Procurement\ObjectSerializer;

/**
 * PricingBreaksApi Class Doc Comment
 *
 * @category Class
 * @package  Spinen\ConnectWise\Clients\Procurement
 * @author   Swagger Codegen team
 * @link     https://github.com/swagger-api/swagger-codegen
 */
class PricingBreaksApi
{
    /**
     * API Client
     *
     * @var \Spinen\ConnectWise\Clients\Procurement\ApiClient instance of the ApiClient
     */
    protected $apiClient;

    /**
     * Constructor
     *
     * @param \Spinen\ConnectWise\Clients\Procurement\ApiClient|null $apiClient The api client to use
     */
    public function __construct(\Spinen\ConnectWise\Clients\Procurement\ApiClient $apiClient = null)
    {
        if ($apiClient === null) {
            $apiClient = new ApiClient();
        }

        $this->apiClient = $apiClient;
    }

    /**
     * Get API client
     *
     * @return \Spinen\ConnectWise\Clients\Procurement\ApiClient get the API client
     */
    public function getApiClient()
    {
        return $this->apiClient;
    }

    /**
     * Set the API client
     *
     * @param \Spinen\ConnectWise\Clients\Procurement\ApiClient $apiClient set the API client
     *
     * @return PricingBreaksApi
     */
    public function setApiClient(\Spinen\ConnectWise\Clients\Procurement\ApiClient $apiClient)
    {
        $this->apiClient = $apiClient;
        return $this;
    }

    /**
     * Operation procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdDelete
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Procurement API generated by Swagger Code Generator.
     *
     * @param int $sched_id  (required)
     * @param int $detail_id  (required)
     * @param int $break_id  (required)
     * @throws \Spinen\ConnectWise\Clients\Procurement\ApiException on non-2xx response
     * @return void
     */
    public function procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdDelete($sched_id, $detail_id, $break_id)
    {
        list($response) = $this->procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdDeleteWithHttpInfo($sched_id, $detail_id, $break_id);
        return $response;
    }

    /**
     * Operation procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdDeleteWithHttpInfo
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Procurement API generated by Swagger Code Generator.
     *
     * @param int $sched_id  (required)
     * @param int $detail_id  (required)
     * @param int $break_id  (required)
     * @throws \Spinen\ConnectWise\Clients\Procurement\ApiException on non-2xx response
     * @return array of null, HTTP status code, HTTP response headers (array of strings)
     */
    public function procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdDeleteWithHttpInfo($sched_id, $detail_id, $break_id)
    {
        // verify the required parameter 'sched_id' is set
        if ($sched_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $sched_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdDelete');
        }
        // verify the required parameter 'detail_id' is set
        if ($detail_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $detail_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdDelete');
        }
        // verify the required parameter 'break_id' is set
        if ($break_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $break_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdDelete');
        }
        // parse inputs
        $resourcePath = "/procurement/pricingschedules/{schedId}/details/{detailId}/breaks/{breakId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept([]);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($sched_id !== null) {
            $resourcePath = str_replace(
                "{" . "schedId" . "}",
                $this->apiClient->getSerializer()->toPathValue($sched_id),
                $resourcePath
            );
        }
        // path params
        if ($detail_id !== null) {
            $resourcePath = str_replace(
                "{" . "detailId" . "}",
                $this->apiClient->getSerializer()->toPathValue($detail_id),
                $resourcePath
            );
        }
        // path params
        if ($break_id !== null) {
            $resourcePath = str_replace(
                "{" . "breakId" . "}",
                $this->apiClient->getSerializer()->toPathValue($break_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'DELETE',
                $queryParams,
                $httpBody,
                $headerParams,
                null,
                '/procurement/pricingschedules/{schedId}/details/{detailId}/breaks/{breakId}'
            );

            return [null, $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Procurement\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdGet
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Procurement API generated by Swagger Code Generator.
     *
     * @param int $sched_id  (required)
     * @param int $detail_id  (required)
     * @param int $break_id  (required)
     * @throws \Spinen\ConnectWise\Clients\Procurement\ApiException on non-2xx response
     * @return \Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak
     */
    public function procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdGet($sched_id, $detail_id, $break_id)
    {
        list($response) = $this->procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdGetWithHttpInfo($sched_id, $detail_id, $break_id);
        return $response;
    }

    /**
     * Operation procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdGetWithHttpInfo
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Procurement API generated by Swagger Code Generator.
     *
     * @param int $sched_id  (required)
     * @param int $detail_id  (required)
     * @param int $break_id  (required)
     * @throws \Spinen\ConnectWise\Clients\Procurement\ApiException on non-2xx response
     * @return array of \Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak, HTTP status code, HTTP response headers (array of strings)
     */
    public function procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdGetWithHttpInfo($sched_id, $detail_id, $break_id)
    {
        // verify the required parameter 'sched_id' is set
        if ($sched_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $sched_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdGet');
        }
        // verify the required parameter 'detail_id' is set
        if ($detail_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $detail_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdGet');
        }
        // verify the required parameter 'break_id' is set
        if ($break_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $break_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdGet');
        }
        // parse inputs
        $resourcePath = "/procurement/pricingschedules/{schedId}/details/{detailId}/breaks/{breakId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // path params
        if ($sched_id !== null) {
            $resourcePath = str_replace(
                "{" . "schedId" . "}",
                $this->apiClient->getSerializer()->toPathValue($sched_id),
                $resourcePath
            );
        }
        // path params
        if ($detail_id !== null) {
            $resourcePath = str_replace(
                "{" . "detailId" . "}",
                $this->apiClient->getSerializer()->toPathValue($detail_id),
                $resourcePath
            );
        }
        // path params
        if ($break_id !== null) {
            $resourcePath = str_replace(
                "{" . "breakId" . "}",
                $this->apiClient->getSerializer()->toPathValue($break_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak',
                '/procurement/pricingschedules/{schedId}/details/{detailId}/breaks/{breakId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Procurement\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPatch
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Procurement API generated by Swagger Code Generator.
     *
     * @param int $sched_id  (required)
     * @param int $detail_id  (required)
     * @param int $break_id  (required)
     * @param \Spinen\ConnectWise\Clients\Procurement\Model\PatchOperation[] $operations  (required)
     * @throws \Spinen\ConnectWise\Clients\Procurement\ApiException on non-2xx response
     * @return \Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak
     */
    public function procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPatch($sched_id, $detail_id, $break_id, $operations)
    {
        list($response) = $this->procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPatchWithHttpInfo($sched_id, $detail_id, $break_id, $operations);
        return $response;
    }

    /**
     * Operation procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPatchWithHttpInfo
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Procurement API generated by Swagger Code Generator.
     *
     * @param int $sched_id  (required)
     * @param int $detail_id  (required)
     * @param int $break_id  (required)
     * @param \Spinen\ConnectWise\Clients\Procurement\Model\PatchOperation[] $operations  (required)
     * @throws \Spinen\ConnectWise\Clients\Procurement\ApiException on non-2xx response
     * @return array of \Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak, HTTP status code, HTTP response headers (array of strings)
     */
    public function procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPatchWithHttpInfo($sched_id, $detail_id, $break_id, $operations)
    {
        // verify the required parameter 'sched_id' is set
        if ($sched_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $sched_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPatch');
        }
        // verify the required parameter 'detail_id' is set
        if ($detail_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $detail_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPatch');
        }
        // verify the required parameter 'break_id' is set
        if ($break_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $break_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPatch');
        }
        // verify the required parameter 'operations' is set
        if ($operations === null) {
            throw new \InvalidArgumentException('Missing the required parameter $operations when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPatch');
        }
        // parse inputs
        $resourcePath = "/procurement/pricingschedules/{schedId}/details/{detailId}/breaks/{breakId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($sched_id !== null) {
            $resourcePath = str_replace(
                "{" . "schedId" . "}",
                $this->apiClient->getSerializer()->toPathValue($sched_id),
                $resourcePath
            );
        }
        // path params
        if ($detail_id !== null) {
            $resourcePath = str_replace(
                "{" . "detailId" . "}",
                $this->apiClient->getSerializer()->toPathValue($detail_id),
                $resourcePath
            );
        }
        // path params
        if ($break_id !== null) {
            $resourcePath = str_replace(
                "{" . "breakId" . "}",
                $this->apiClient->getSerializer()->toPathValue($break_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($operations)) {
            $_tempBody = $operations;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PATCH',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak',
                '/procurement/pricingschedules/{schedId}/details/{detailId}/breaks/{breakId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Procurement\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPut
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Procurement API generated by Swagger Code Generator.
     *
     * @param int $sched_id  (required)
     * @param int $detail_id  (required)
     * @param int $break_id  (required)
     * @param \Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak $pricing_break  (required)
     * @throws \Spinen\ConnectWise\Clients\Procurement\ApiException on non-2xx response
     * @return \Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak
     */
    public function procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPut($sched_id, $detail_id, $break_id, $pricing_break)
    {
        list($response) = $this->procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPutWithHttpInfo($sched_id, $detail_id, $break_id, $pricing_break);
        return $response;
    }

    /**
     * Operation procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPutWithHttpInfo
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Procurement API generated by Swagger Code Generator.
     *
     * @param int $sched_id  (required)
     * @param int $detail_id  (required)
     * @param int $break_id  (required)
     * @param \Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak $pricing_break  (required)
     * @throws \Spinen\ConnectWise\Clients\Procurement\ApiException on non-2xx response
     * @return array of \Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak, HTTP status code, HTTP response headers (array of strings)
     */
    public function procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPutWithHttpInfo($sched_id, $detail_id, $break_id, $pricing_break)
    {
        // verify the required parameter 'sched_id' is set
        if ($sched_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $sched_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPut');
        }
        // verify the required parameter 'detail_id' is set
        if ($detail_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $detail_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPut');
        }
        // verify the required parameter 'break_id' is set
        if ($break_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $break_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPut');
        }
        // verify the required parameter 'pricing_break' is set
        if ($pricing_break === null) {
            throw new \InvalidArgumentException('Missing the required parameter $pricing_break when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksBreakIdPut');
        }
        // parse inputs
        $resourcePath = "/procurement/pricingschedules/{schedId}/details/{detailId}/breaks/{breakId}";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($sched_id !== null) {
            $resourcePath = str_replace(
                "{" . "schedId" . "}",
                $this->apiClient->getSerializer()->toPathValue($sched_id),
                $resourcePath
            );
        }
        // path params
        if ($detail_id !== null) {
            $resourcePath = str_replace(
                "{" . "detailId" . "}",
                $this->apiClient->getSerializer()->toPathValue($detail_id),
                $resourcePath
            );
        }
        // path params
        if ($break_id !== null) {
            $resourcePath = str_replace(
                "{" . "breakId" . "}",
                $this->apiClient->getSerializer()->toPathValue($break_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($pricing_break)) {
            $_tempBody = $pricing_break;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'PUT',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak',
                '/procurement/pricingschedules/{schedId}/details/{detailId}/breaks/{breakId}'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Procurement\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation procurementPricingschedulesSchedIdDetailsDetailIdBreaksCountGet
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Procurement API generated by Swagger Code Generator.
     *
     * @param int $sched_id  (required)
     * @param int $detail_id  (required)
     * @param string $conditions  (optional)
     * @throws \Spinen\ConnectWise\Clients\Procurement\ApiException on non-2xx response
     * @return \Spinen\ConnectWise\Clients\Procurement\Model\Count
     */
    public function procurementPricingschedulesSchedIdDetailsDetailIdBreaksCountGet($sched_id, $detail_id, $conditions = null)
    {
        list($response) = $this->procurementPricingschedulesSchedIdDetailsDetailIdBreaksCountGetWithHttpInfo($sched_id, $detail_id, $conditions);
        return $response;
    }

    /**
     * Operation procurementPricingschedulesSchedIdDetailsDetailIdBreaksCountGetWithHttpInfo
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Procurement API generated by Swagger Code Generator.
     *
     * @param int $sched_id  (required)
     * @param int $detail_id  (required)
     * @param string $conditions  (optional)
     * @throws \Spinen\ConnectWise\Clients\Procurement\ApiException on non-2xx response
     * @return array of \Spinen\ConnectWise\Clients\Procurement\Model\Count, HTTP status code, HTTP response headers (array of strings)
     */
    public function procurementPricingschedulesSchedIdDetailsDetailIdBreaksCountGetWithHttpInfo($sched_id, $detail_id, $conditions = null)
    {
        // verify the required parameter 'sched_id' is set
        if ($sched_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $sched_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksCountGet');
        }
        // verify the required parameter 'detail_id' is set
        if ($detail_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $detail_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksCountGet');
        }
        // parse inputs
        $resourcePath = "/procurement/pricingschedules/{schedId}/details/{detailId}/breaks/count";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($conditions !== null) {
            $queryParams['conditions'] = $this->apiClient->getSerializer()->toQueryValue($conditions);
        }
        // path params
        if ($sched_id !== null) {
            $resourcePath = str_replace(
                "{" . "schedId" . "}",
                $this->apiClient->getSerializer()->toPathValue($sched_id),
                $resourcePath
            );
        }
        // path params
        if ($detail_id !== null) {
            $resourcePath = str_replace(
                "{" . "detailId" . "}",
                $this->apiClient->getSerializer()->toPathValue($detail_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Spinen\ConnectWise\Clients\Procurement\Model\Count',
                '/procurement/pricingschedules/{schedId}/details/{detailId}/breaks/count'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Spinen\ConnectWise\Clients\Procurement\Model\Count', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Procurement\Model\Count', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Procurement\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation procurementPricingschedulesSchedIdDetailsDetailIdBreaksGet
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Procurement API generated by Swagger Code Generator.
     *
     * @param int $sched_id  (required)
     * @param int $detail_id  (required)
     * @param string $conditions  (optional)
     * @param string $order_by  (optional)
     * @param string $childconditions  (optional)
     * @param string $customfieldconditions  (optional)
     * @param int $page  (optional)
     * @param int $page_size  (optional)
     * @throws \Spinen\ConnectWise\Clients\Procurement\ApiException on non-2xx response
     * @return \Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak[]
     */
    public function procurementPricingschedulesSchedIdDetailsDetailIdBreaksGet($sched_id, $detail_id, $conditions = null, $order_by = null, $childconditions = null, $customfieldconditions = null, $page = null, $page_size = null)
    {
        list($response) = $this->procurementPricingschedulesSchedIdDetailsDetailIdBreaksGetWithHttpInfo($sched_id, $detail_id, $conditions, $order_by, $childconditions, $customfieldconditions, $page, $page_size);
        return $response;
    }

    /**
     * Operation procurementPricingschedulesSchedIdDetailsDetailIdBreaksGetWithHttpInfo
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Procurement API generated by Swagger Code Generator.
     *
     * @param int $sched_id  (required)
     * @param int $detail_id  (required)
     * @param string $conditions  (optional)
     * @param string $order_by  (optional)
     * @param string $childconditions  (optional)
     * @param string $customfieldconditions  (optional)
     * @param int $page  (optional)
     * @param int $page_size  (optional)
     * @throws \Spinen\ConnectWise\Clients\Procurement\ApiException on non-2xx response
     * @return array of \Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak[], HTTP status code, HTTP response headers (array of strings)
     */
    public function procurementPricingschedulesSchedIdDetailsDetailIdBreaksGetWithHttpInfo($sched_id, $detail_id, $conditions = null, $order_by = null, $childconditions = null, $customfieldconditions = null, $page = null, $page_size = null)
    {
        // verify the required parameter 'sched_id' is set
        if ($sched_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $sched_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksGet');
        }
        // verify the required parameter 'detail_id' is set
        if ($detail_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $detail_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksGet');
        }
        // parse inputs
        $resourcePath = "/procurement/pricingschedules/{schedId}/details/{detailId}/breaks";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType([]);

        // query params
        if ($conditions !== null) {
            $queryParams['conditions'] = $this->apiClient->getSerializer()->toQueryValue($conditions);
        }
        // query params
        if ($order_by !== null) {
            $queryParams['orderBy'] = $this->apiClient->getSerializer()->toQueryValue($order_by);
        }
        // query params
        if ($childconditions !== null) {
            $queryParams['childconditions'] = $this->apiClient->getSerializer()->toQueryValue($childconditions);
        }
        // query params
        if ($customfieldconditions !== null) {
            $queryParams['customfieldconditions'] = $this->apiClient->getSerializer()->toQueryValue($customfieldconditions);
        }
        // query params
        if ($page !== null) {
            $queryParams['page'] = $this->apiClient->getSerializer()->toQueryValue($page);
        }
        // query params
        if ($page_size !== null) {
            $queryParams['pageSize'] = $this->apiClient->getSerializer()->toQueryValue($page_size);
        }
        // path params
        if ($sched_id !== null) {
            $resourcePath = str_replace(
                "{" . "schedId" . "}",
                $this->apiClient->getSerializer()->toPathValue($sched_id),
                $resourcePath
            );
        }
        // path params
        if ($detail_id !== null) {
            $resourcePath = str_replace(
                "{" . "detailId" . "}",
                $this->apiClient->getSerializer()->toPathValue($detail_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        
        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'GET',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak[]',
                '/procurement/pricingschedules/{schedId}/details/{detailId}/breaks'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak[]', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 200:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak[]', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Procurement\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }

    /**
     * Operation procurementPricingschedulesSchedIdDetailsDetailIdBreaksPost
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Procurement API generated by Swagger Code Generator.
     *
     * @param int $sched_id  (required)
     * @param int $detail_id  (required)
     * @param \Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak $pricing_break  (required)
     * @throws \Spinen\ConnectWise\Clients\Procurement\ApiException on non-2xx response
     * @return \Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak
     */
    public function procurementPricingschedulesSchedIdDetailsDetailIdBreaksPost($sched_id, $detail_id, $pricing_break)
    {
        list($response) = $this->procurementPricingschedulesSchedIdDetailsDetailIdBreaksPostWithHttpInfo($sched_id, $detail_id, $pricing_break);
        return $response;
    }

    /**
     * Operation procurementPricingschedulesSchedIdDetailsDetailIdBreaksPostWithHttpInfo
     *
     * 
     *
     * Spinen&#39;s PHP ConnectWise Client for Procurement API generated by Swagger Code Generator.
     *
     * @param int $sched_id  (required)
     * @param int $detail_id  (required)
     * @param \Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak $pricing_break  (required)
     * @throws \Spinen\ConnectWise\Clients\Procurement\ApiException on non-2xx response
     * @return array of \Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak, HTTP status code, HTTP response headers (array of strings)
     */
    public function procurementPricingschedulesSchedIdDetailsDetailIdBreaksPostWithHttpInfo($sched_id, $detail_id, $pricing_break)
    {
        // verify the required parameter 'sched_id' is set
        if ($sched_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $sched_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksPost');
        }
        // verify the required parameter 'detail_id' is set
        if ($detail_id === null) {
            throw new \InvalidArgumentException('Missing the required parameter $detail_id when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksPost');
        }
        // verify the required parameter 'pricing_break' is set
        if ($pricing_break === null) {
            throw new \InvalidArgumentException('Missing the required parameter $pricing_break when calling procurementPricingschedulesSchedIdDetailsDetailIdBreaksPost');
        }
        // parse inputs
        $resourcePath = "/procurement/pricingschedules/{schedId}/details/{detailId}/breaks";
        $httpBody = '';
        $queryParams = [];
        $headerParams = [];
        $formParams = [];
        $_header_accept = $this->apiClient->selectHeaderAccept(['application/json']);
        if (!is_null($_header_accept)) {
            $headerParams['Accept'] = $_header_accept;
        }
        $headerParams['Content-Type'] = $this->apiClient->selectHeaderContentType(['application/json']);

        // path params
        if ($sched_id !== null) {
            $resourcePath = str_replace(
                "{" . "schedId" . "}",
                $this->apiClient->getSerializer()->toPathValue($sched_id),
                $resourcePath
            );
        }
        // path params
        if ($detail_id !== null) {
            $resourcePath = str_replace(
                "{" . "detailId" . "}",
                $this->apiClient->getSerializer()->toPathValue($detail_id),
                $resourcePath
            );
        }
        // default format to json
        $resourcePath = str_replace("{format}", "json", $resourcePath);

        // body params
        $_tempBody = null;
        if (isset($pricing_break)) {
            $_tempBody = $pricing_break;
        }

        // for model (json/xml)
        if (isset($_tempBody)) {
            $httpBody = $_tempBody; // $_tempBody is the method argument, if present
        } elseif (count($formParams) > 0) {
            $httpBody = $formParams; // for HTTP post (form)
        }
        // this endpoint requires HTTP basic authentication
        if (strlen($this->apiClient->getConfig()->getUsername()) !== 0 or strlen($this->apiClient->getConfig()->getPassword()) !== 0) {
            $headerParams['Authorization'] = 'Basic ' . base64_encode($this->apiClient->getConfig()->getUsername() . ":" . $this->apiClient->getConfig()->getPassword());
        }
        // make the API Call
        try {
            list($response, $statusCode, $httpHeader) = $this->apiClient->callApi(
                $resourcePath,
                'POST',
                $queryParams,
                $httpBody,
                $headerParams,
                '\Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak',
                '/procurement/pricingschedules/{schedId}/details/{detailId}/breaks'
            );

            return [$this->apiClient->getSerializer()->deserialize($response, '\Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak', $httpHeader), $statusCode, $httpHeader];
        } catch (ApiException $e) {
            switch ($e->getCode()) {
                case 201:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Procurement\Model\PricingBreak', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
                case 401:
                    $data = $this->apiClient->getSerializer()->deserialize($e->getResponseBody(), '\Spinen\ConnectWise\Clients\Procurement\Model\Error', $e->getResponseHeaders());
                    $e->setResponseObject($data);
                    break;
            }

            throw $e;
        }
    }
}
